*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
 font-family: sans-serif;
 background-image: url("images/jene-stephaniuk-esRJtEsvJhU-unsplash.jpg");
  }

nav{
   background-color: #333;
   padding: 10px;
   margin-bottom: 1em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%; /* add this to make the background color cover the entire nav section */
  }
  
  nav img {
    height: 50px;
    float: left; /* float the logo to the left */
    margin-right: 20px; /* add some space between the logo and the list items */
  }
  
  nav ul {
    float: right; /* float the list items to the right */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #ccc;
  }

  header {
    background-color: #666;
    padding: 1em;
   margin-bottom: 0;
  }
  
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    color: #fff;
    text-align: center;
  }

 .exhibition-container{
  background-color: #89A3B0;
  text-align: center;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
 }

.exhibition-title{
  font-family: serif;
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #333;
}

.exhibition-subtitle{
  font-style: italic;
  color: #666
}

.exhibition-description{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
}

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; 
    /* padding: 10px;  */
    max-width: 1200px;
     margin: 0 auto; 
    /* grid-auto-rows: 1fr; */
    background-color:  #D8A389; 
    grid-auto-flow: dense;
  }
  
  .image-grid img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .image-grid img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
   } 

   .more-info{
    background-color: #f8f8f8b0;
    padding: 20px;
    margin: 20px auto; 
    max-width: 1200px;
    display: flex;
     justify-content: space-between; */
    align-items: flex-start;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }

   .more-info p{
    flex: 2;
    color: #000;
    padding: 15px;
    border-radius: 5px;
   }

   .more-info aside{
    flex: 3;
    padding: 15px;
    border-radius: 5px;
   }

 .more-info aside h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.more-info aside ul {
    list-style: none;
    padding: 0;
}

.more-info aside ul li {
  margin-bottom: 5px;
}

.more-info aside ul li a {
  text-decoration: none;
  color: #333;
}

.more-info aside ul li a:hover {
  text-decoration: underline;
}

.footer-container{
  background-color: beige;
  padding-bottom: 5px;
}

.footer-logo img{
  height: 50px;
  float: left;
  border-radius: 50%;
}
.footer-title{
 display: flex;
 align-items: center;
}

.footer-social img{
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

.footer-links{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: -20%;
}
.footer-links ul{
  list-style: none;
  padding: 0;
  margin-left: 7%; 
  

}

.footer-links li{
  display: block;
   margin-bottom: 5px; 

 
}
.footer-links .title{
  margin-bottom: 10px;
  color: #3f3f3f;
}
.footer-links a{
  text-decoration: none;
  color: #333;
} 

.footer-links a:hover{
  color: #007bbf;
}

.footer-copyright p{
 display: flex;
 justify-content: flex-end;
 margin-right: 2%;
}

@media (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

.menu-toggle {
    display: none;
}

  .image-grid {
      grid-template-columns: repeat(2, 1fr); 
  }

  .more-info {
    flex-direction: column;
}

.more-info p {
  margin-right: 0;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
}

.exhibition-title {
  font-size: 2em;
}

.exhibition-description {
  font-size: 1em;
}
}

@media (max-width: 480px) {
  .image-grid {
      grid-template-columns: 1fr; 
  }
}